# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: false
cache: packages

matrix:
  include:
    - r: 3.1
      warnings_are_errors: false
    - r: 3.2
    - r: 3.3
    - r: 3.4
    - r: 3.5
      after_success:
        - Rscript -e 'covr::codecov()'
      deploy:
        provider: script
        script: Rscript -e 'options(crayon.enabled = FALSE); pkgdown::deploy_site_github(verbose = TRUE)'
        skip_cleanup: true
    - r: devel

r_github_packages: r-lib/pkgdown
