IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakAfterReturnType: Automatic
InsertBraces: true
PenaltyReturnTypeOnItsOwnLine: 10000
PointerAlignment: Left
SortIncludes: Never
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: None
Cpp11BracedListStyle: true
AllowAllArgumentsOnNextLine: false
AllowShortEnumsOnASingleLine: false
AlignOperands: DontAlign
BreakBeforeTernaryOperators: true
